
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #2e2c29, #7d7b71, #c9c8bb);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}



header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 5px 0;
  font-size: 1.2em;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

a {
  color: #aad8ff;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #2c3e50;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
}


.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.project-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 2rem;
}

.project-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.project-content h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.project-links a {
  margin-right: 1rem;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.project-links a:hover {
  text-decoration: underline;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background: linear-gradient(90deg, #2f312c, #504a43);
  color: white;
  font-family: 'Arial', sans-serif;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
}

.header-right {
  display: flex;
  gap: 30px;
}

.header-right a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  font-family: 'Futura', 'Helvetica Neue', sans-serif;
}

.header-right a:hover {
  text-decoration: underline;
}

